// Google Font Imports
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 12rem 1rem;
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arvo', serif;
}