.composerListContainer {

    h1 {
        text-align: center;
    }

    form {
        text-align: center;
        padding: 1rem;
        width: 75%;
        margin: auto;
        @include blue-rounded-border;
    }

    #composerName {
        display: block;
        margin: 1rem auto;
        width: 50%;
    }

    .buttons {
        padding: 0.5rem;

        input {
            @include buttons;
            margin: 0 0.5rem;
        }
    }
}