header {
    border-bottom: solid 1px blue;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: solid 1px black;
        background-color: dodgerblue;

        p {
            margin-left: 1rem;
            font-family: 'Arvo', sans-serif;
            font-weight: 900;
            font-size: 24px;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;

            li {
            list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    iframe {
        margin: 1rem 0;
    }
}