.navbar {
  z-index:100;
  position: fixed;
  padding: 0 20px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  color: white;
  background-color: dodgerblue;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 8px 0px;
  
  a h1 {
    font-family: "Arvo", sans-serif;
  }

  form{
    display: flex;
    input, button{
      padding: 10px;
      border: solid 1px black;
      border-radius: 5px;
      margin: 0 5px;
    }
    button{
      cursor:pointer;
    }
  }

  .nav-menu{
    a {
      margin-left:10px;
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 10px;
      border: solid 1px white;
      border-radius: 5px;
      opacity: 0.5;
    }
    a.active {
      font-weight: bold;
      color: black;
      background-color: #fff;
      border: solid 1px black;
      opacity: 1;
    }
  }
}
